# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env


# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# Игнорировать файлы Excel
*.xlsx

# Игнорировать JSON-файлы (если они не конфигурационные)
*.json

# Игнорировать временные файлы (начинающиеся с ~)
~*.*

# Игнорировать тестовые скрипты (если не нужны)
extract_urls.py
test.py

# Игнорировать документы Word
*.docx